@charset "UTF-8";

/* line 1, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

* {
  margin: 0;
  padding: 0;
}

/* line 6, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

html,
body {
  height: 100%;
}

/* line 10, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

body {
  background-image: url("../img/page-bg.jpg");
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  font: 14px/1.41 Arial, Helvetica, sans-serif;
}

/* line 21, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

ul,
li {
  list-style: none;
}

/* line 25, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

input,
textarea {
  outline: none;
}

/* line 29, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

input:active,
textarea:active {
  outline: none;
}

/* line 33, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

:focus {
  outline: none;
}

/* line 37, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

textarea {
  resize: none;
}

/* line 41, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.easing,
.easing * {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 48, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.box-s {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*--- Clearfix : start ---------------*/

/* line 57, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.cl:before,
.input-group:before,
.cl:after,
.input-group:after {
  content: " ";
  display: table;
}

/* line 62, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.cl:after,
.input-group:after {
  clear: both;
}

/*--- Clearfix : end ---------------*/

/* line 68, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.wrapper-all {
  position: relative;
  min-height: 100%;
}

/* line 73, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.wrapper-all:before {
  content: "";
  height: 60px;
  display: block;
}

/* line 79, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.wrapper-all:after {
  content: "";
  height: 50px;
  display: block;
}

/* line 86, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.footer {
  display: block;
  height: 50px;
  margin-top: -50px;
  width: 100%;
  text-align: center;
}

/* line 94, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.footer-wrap {
  display: inline-block;
  line-height: 50px;
}

/* line 99, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.footer-copi {
  font-family: 'fira_sanslight';
  color: #fff;
  font-size: 12px;
}

/* line 107, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 113, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.main-bl {
  background-color: rgba(46, 54, 65, 0.64);
  width: 702px;
  height: 670px;
  float: left;
  display: block;
  position: relative;
}

/* line 122, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.main-title {
  font-family: "SegoeUILight";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 36px;
  line-height: 1em;
  margin: 15px 22px 60px;
}

/* line 132, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.watermark-work {
  background-color: #fff;
  width: 650px;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: block;
}

/* line 147, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.controls-bl {
  background-color: #f1f1f5;
  width: 258px;
  height: 670px;
  float: left;
  display: block;
}

/* line 155, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.controls-title {
  display: block;
  text-align: center;
  margin: 26px 0 35px -4px;
  font-family: 'roboto-light';
  line-height: 26px;
  color: #2e3641;
  font-size: 26px;
}

/* line 165, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.controls-wrap {
  position: relative;
  border-bottom: 1px solid rgba(249, 126, 118, 0.4);
}

/* line 170, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.controls-wrap:before {
  position: absolute;
  z-index: 5;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f1f1f5;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 182, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.controls-wrap:after {
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid rgba(249, 126, 118, 0.4);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 194, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.aim-img {
  overflow: hidden;
  position: relative;
}

/* line 199, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}

/* line 205, /Users/urla/Documents/Яндекс.Диск/Обучение/Frontend/ДЗ/watermark/app/sass/style.scss */

.watermark.multy {
  width: 1000px;
}

/* line 3, stdin */

.form {
  color: #2e3641;
  padding: 0 19px;
}

/* line 7, stdin */

.form__group {
  margin-top: 22px;
  position: relative;
}

/* line 13, stdin */

.input-group {
  margin: 6px auto;
  width: 100%;
  position: relative;
  transition: all 0.3s;
}

/* line 19, stdin */

.input-group:hover .input-group__icon {
  background-color: #f75045;
}

/* line 23, stdin */

.input-group__input {
  width: 82%;
  height: 27px;
  display: inline-block;
  border: 1px solid #9eb2c0;
  border-radius: 4px 0 0 4px;
  padding: 3px 3px 6px;
  font-size: 12px;
  font-family: "SegoeUILight", sans-serif;
  color: #9eb2c0;
  background-color: #f1f1f5;
  float: left;
  transition: all 0.3s;
  cursor: pointer;
  border-right: none;
}

/* line 40, stdin */

.input-group__icon {
  width: 18%;
  height: 27px;
  border-radius: 0 4px 4px 0;
  background: url("../img/icon-download.png") no-repeat center #f97e76;
  float: left;
  transition: all 0.3s;
  cursor: pointer;
}

/* line 50, stdin */

.input-group__file-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 26px;
  cursor: pointer;
}

/* line 62, stdin */

.separator {
  margin-bottom: 30px;
}

/* line 64, stdin */

.separator:after {
  position: absolute;
  z-index: 2;
  bottom: -42px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid rgba(249, 126, 118, 0.4);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 77, stdin */

::-webkit-input-placeholder {
  color: #9eb2c0;
}

/* line 81, stdin */

:-moz-placeholder {
  /* Firefox 18- */
  color: #9eb2c0;
}

/* line 86, stdin */

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9eb2c0;
}

/* line 91, stdin */

:-ms-input-placeholder {
  color: #9eb2c0;
}
/* line 1, stdin */

* {
  margin: 0;
  padding: 0;
}

/* line 6, stdin */

html,
body {
  height: 100%;
}

/* line 10, stdin */

body {
  background-image: url("../img/page-bg.jpg");
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  font: 14px/1.41 Arial, Helvetica, sans-serif;
}

/* line 21, stdin */

ul,
li {
  list-style: none;
}

/* line 25, stdin */

input,
textarea {
  outline: none;
}

/* line 29, stdin */

input:active,
textarea:active {
  outline: none;
}

/* line 33, stdin */

:focus {
  outline: none;
}

/* line 37, stdin */

textarea {
  resize: none;
}

/* line 41, stdin */

.easing,
.easing * {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 48, stdin */

.box-s {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*--- Clearfix : start ---------------*/

/* line 57, stdin */

.cl:before,
.cl:after {
  content: " ";
  display: table;
}

/* line 62, stdin */

.cl:after {
  clear: both;
}

/*--- Clearfix : end ---------------*/

/* line 68, stdin */

.wrapper-all {
  position: relative;
  min-height: 100%;
}

/* line 73, stdin */

.wrapper-all:before {
  content: "";
  height: 60px;
  display: block;
}

/* line 79, stdin */

.wrapper-all:after {
  content: "";
  height: 50px;
  display: block;
}

/* line 86, stdin */

.footer {
  display: block;
  height: 50px;
  margin-top: -50px;
  width: 100%;
  text-align: center;
}

/* line 94, stdin */

.footer-wrap {
  display: inline-block;
  line-height: 50px;
}

/* line 99, stdin */

.footer-copi {
  font-family: 'fira_sanslight';
  color: #fff;
  font-size: 12px;
}

/* line 107, stdin */

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 113, stdin */

.main-bl {
  background-color: rgba(46, 54, 65, 0.64);
  width: 702px;
  height: 670px;
  float: left;
  display: block;
  position: relative;
}

/* line 122, stdin */

.main-title {
  font-family: "SegoeUILight";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 36px;
  line-height: 1em;
  margin: 15px 22px 60px;
}

/* line 132, stdin */

.watermark-work {
  background-color: #fff;
  width: 650px;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: block;
}

/* line 147, stdin */

.controls-bl {
  background-color: #f1f1f5;
  width: 258px;
  height: 670px;
  float: left;
  display: block;
}

/* line 155, stdin */

.controls-title {
  display: block;
  text-align: center;
  margin: 26px 0 35px -4px;
  font-family: 'roboto-light';
  line-height: 26px;
  color: #2e3641;
  font-size: 26px;
}

/* line 165, stdin */

.controls-wrap {
  position: relative;
  border-bottom: 1px solid rgba(249, 126, 118, 0.4);
}

/* line 170, stdin */

.controls-wrap:before {
  position: absolute;
  z-index: 5;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f1f1f5;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 182, stdin */

.controls-wrap:after {
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid rgba(249, 126, 118, 0.4);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 194, stdin */

.aim-img {
  overflow: hidden;
  position: relative;
}

/* line 199, stdin */

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}

/* line 205, stdin */

.watermark.multy {
  width: 1000px;
}