/* line 1, stdin */
* {
  margin: 0;
  padding: 0; }

/* line 2, stdin */
html, body {
  height: 100%; }

/* line 3, stdin */
body {
  background-image: url(../img/page-bg.jpg);
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  font: 14px/1.41 Arial, Helvetica, sans-serif; }

/* line 13, stdin */
ul, li {
  list-style: none; }

/* line 14, stdin */
input, textarea {
  outline: none; }

/* line 15, stdin */
input:active, textarea:active {
  outline: none; }

/* line 16, stdin */
:focus {
  outline: none; }

/* line 17, stdin */
textarea {
  resize: none; }

/* line 18, stdin */
.easing, .easing * {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

/* line 24, stdin */
.box-s {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*--- Clearfix : start ---------------*/
/* line 32, stdin */
.cl:before,
.cl:after {
  content: " ";
  display: table; }

/* line 33, stdin */
.cl:after {
  clear: both; }

/*--- Clearfix : end ---------------*/
/* line 37, stdin */
.wrapper-all {
  position: relative;
  min-height: 100%; }

/* line 41, stdin */
.wrapper-all:before {
  content: "";
  height: 60px;
  display: block; }

/* line 46, stdin */
.wrapper-all:after {
  content: "";
  height: 50px;
  display: block; }

/* line 53, stdin */
.footer {
  display: block;
  height: 50px;
  margin-top: -50px;
  width: 100%;
  text-align: center; }

/* line 60, stdin */
.footer-wrap {
  display: inline-block;
  line-height: 50px; }

/* line 64, stdin */
.footer-copi {
  font-family: 'fira_sanslight';
  color: #fff;
  font-size: 12px; }

/* line 72, stdin */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative; }

/* line 77, stdin */
.main-bl {
  background-color: rgba(46, 54, 65, 0.64);
  width: 702px;
  height: 670px;
  float: left;
  display: block;
  position: relative; }

/* line 85, stdin */
.main-title {
  font-family: "SegoeUILight";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 36px;
  line-height: 1em;
  margin: 15px 22px 60px; }

/* line 95, stdin */
.watermark-work {
  background-color: #fff;
  width: 650px;
  height: 535px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: block; }

/* line 111, stdin */
.controls-bl {
  background-color: #f1f1f5;
  width: 258px;
  height: 670px;
  float: left;
  display: block; }

/* line 119, stdin */
.controls-title {
  display: block;
  text-align: center;
  margin: 26px 0 35px -4px;
  font-family: 'roboto-light';
  line-height: 26px;
  color: #2e3641;
  font-size: 26px; }

/* line 129, stdin */
.controls-wrap {
  position: relative;
  border-bottom: 1px solid rgba(249, 126, 118, 0.4); }

/* line 133, stdin */
.controls-wrap:before {
  position: absolute;
  z-index: 5;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid #f1f1f5;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent; }

/* line 144, stdin */
.controls-wrap:after {
  position: absolute;
  z-index: 2;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  content: '';
  border-top: 10px solid rgba(249, 126, 118, 0.4);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent; }
