footer.footer
	.footer-wrap
		.footer-copi © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его

// JS
<!-- build:js js/vendor.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
// endbower
<!-- endbuild -->

<!-- build:js js/site.js -->
script(src="js/index.js")
<!-- endbuild -->