head
   meta(charset="UTF-8")
   meta(http-equiv="x-ua-compatible", content="ie=edge")
   block title
      title Генератор водяных знаков

   // SEO
   meta(name="description", content="")
   meta(name="keywords", content="")
   meta(name="author", content="")

   // FAVICON


   // CSS
   <!-- build:css css/vendor.min.css -->
   // bower:css
   link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
   // endbower
   <!-- endbuild -->

   <!-- build:css fonts/fonts.min.css -->
   //- link(rel="stylesheet", href="css/fonts.css")
   <!-- endbuild -->

   <!-- build:css css/style.min.css -->
   link(rel="stylesheet", href="css/index.css")
   <!-- endbuild -->

   // JS
   <!-- build:js js/headscripts.js -->
   script(src='/bower/modernizr/modernizr.js')
   <!-- endbuild -->