extends layout.jade

block title
    title Генератор водяных знаков

block content
    .wrapper
        .lang-buttons
            .lang-block РУС
            .lang-block ENG
        .soc-web
            .soc-like
            .soc-icons
                .soc-icons-fb
                .soc-icons-tw
                .soc-icons-vk
        .container.cl
            .main-bl
                .main-title Генератор водяных знаков
                .watermark-work
                    .aim-img
                        img(src="../img/aim-img.jpg")
            .controls-bl
                .controls-title Настройки
                form.form
                    //input(type="hidden", name="x")
                    //input(type="hidden", name="y")
                    //input(type="hidden", name="x_margin")
                    //input(type="hidden", name="y_margin")
                    input(type="hidden", name="opacity")
                    input(type="hidden", name="mode")
                    //- Блок загрузки изображений
                    .form__group
                        label.form__label Исходное изображение
                        .form__input.input-group
                            input.input-group__input(placeholder="image.jpg", id="image", disabled)
                            .input-group__icon
                                input.input-group__file-load(type="file", data-file-name-input="#image")
                    .form__group
                        label.form__label Водяной знак
                        .form__input.input-group
                            input.input-group__input(placeholder="image.png", id="watermark", disabled)
                            .input-group__icon
                                input.input-group__file-load(type="file", data-file-name-input="#watermark")
                    .separator
                    //- Блок настройки положения
                    .form__group
                        .placement
                            label.form__label Положение
                            .placement-select
                                .placement-select__item.placement-select__item_single.active(data-select-placement="#chooseSingle")
                                .placement-select__item.placement-select__item_multi(data-select-placement="#chooseMulti")
                        .position-select.position-select_single.active(id="chooseSingle")
                            .position-select__choose.choose-position
                                .choose-position__item.choose-position__item_single.active(id="top-left")
                                .choose-position__item.choose-position__item_single(id="top-center")
                                .choose-position__item.choose-position__item_single(id="top-right")
                                .choose-position__item.choose-position__item_single(id="middle-left")
                                .choose-position__item.choose-position__item_single(id="middle-center")
                                .choose-position__item.choose-position__item_single(id="middle-right")
                                .choose-position__item.choose-position__item_single(id="bottom-left")
                                .choose-position__item.choose-position__item_single(id="bottom-center")
                                .choose-position__item.choose-position__item_single(id="bottom-right")

                            .position-select__count.count-position
                                .input-group_count
                                    label.input-group__label_count(for="moveX") X
                                    input.count-position__item.count-position__item_x(id="moveX", name="value_x", value="0")
                                .input-group_count
                                    label.input-group__label_count(for="moveY") Y
                                    input.count-position__item.count-position__item_y(id="moveY", name="value_y", value="0")
                        .position-select.position-select_multi(id="chooseMulti")
                            .position-select__choose.choose-position
                                .choose-position__margin.choose-position__margin_right
                                .choose-position__margin.choose-position__margin_bottom
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item
                                .choose-position__item

                            .position-select__count.count-position
                                .input-group_count
                                    label.input-group__label_count(for="margin-right") X
                                    input.count-position__item.count-position__item_x(id="margin-right", name="value_right", value="0")
                                .input-group_count
                                    label.input-group__label_count(for="margin-bottom") Y
                                    input.count-position__item.count-position__item_y(id="margin-bottom", name="value_bottom", value="0")
                    .separator
                    //- Блок прозрачности
                    .form__group
                        label.input-group__label Прозрачность
                        .input-group__slider(id="opacity")
                    .separator
                    //- Блок кнопок
                    .btn__box
                        button.btn.btn__clear Сброс
                        button.btn.btn__save Скачать